In [1]:
planet = "earth"

counter = 2

amount = 33.45

In [2]:
print(planet)

earth

In [3]:
print(type(planet))

<class 'str'>

In [4]:
print(type(counternter))

<class 'int'>

In [5]:
print(type(amount))

<class 'float'>

In [7]:
varx = 30
vary = 20
varz = 7

In [9]:
varu = varx/varz
print(varu)

4.285714285714286

In [10]:
varu = varx%varz
print(varu)

2

In [11]:
varu = varx//varz
print(varu)

4

In [12]:
17/3

5.666666666666667

In [13]:
print(17//3)

5

In [14]:
print(round(17/3, 3))

5.667

In [15]:
print(round(17/3, 0))

6.0

In [16]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [17]:
?round

In [18]:
import os

In [19]:
os.getcwd()

'/Users/shobhit/Desktop/allstate/day_1'

In [20]:
os.mkdir("sample")

In [21]:
# comments

In [22]:
"""
actually not 
multline comments
strings which go multiple lines
"""

'\nactually not \nmultline comments\nstrings which go multiple lines\n'

In [23]:
# nameing:
alpha
alpha_
alpha_2
_alpha

# invalid:
2_alpha
alpha_! 
alpha_%

SyntaxError: invalid token (<ipython-input-23-f6ff77371b96>, line 8)

In [ ]:
for 
True
del 

int
print
float

In [24]:
for = 20

SyntaxError: invalid syntax (<ipython-input-24-2c3038346d1c>, line 1)

In [25]:
print = 30

In [26]:
print("hi")

TypeError: 'int' object is not callable

In [27]:
type(print)

int

In [28]:
del print

In [29]:
print("hi")

hi

In [30]:
type(print)

builtin_function_or_method

In [31]:
varx = "56790"
vary = 67.89
varz = 45

In [32]:
print(type(varx))

<class 'str'>

In [33]:
int(varx)

56790

In [34]:
print(type(varx))

<class 'str'>

In [35]:
vara = int(varx)

In [36]:
print(type(vara))

<class 'int'>

In [37]:
str(vary)

'67.89'

In [38]:
x = input()

hello

In [39]:
print(x)

hello

In [40]:
x = input()
print(x)

33
33

In [41]:
print(type(x))

<class 'str'>

In [42]:
x = int(input())
print(x)

33
33

In [43]:
print(type(x))

<class 'int'>

In [44]:
x = int(input("please enter a whole number: "))
print(x)

please enter a whole number: 44
44

In [45]:
print(type(x))

<class 'int'>

In [46]:
x = int(input("please enter a whole number: "))
print(x)

please enter a whole number: hello

ValueError: invalid literal for int() with base 10: 'hello'

In [47]:
x = eval(input()) 
print(x)
print(type(x))

33.56
33.56
<class 'float'>

In [48]:
x = eval(input()) 
print(x)
print(type(x))

44
44
<class 'int'>

In [49]:
x = eval(input()) 
print(x)
print(type(x))

"hello"
hello
<class 'str'>

In [50]:
x = eval(input()) 
print(x)
print(type(x))

[7, 8, 9, 10, 11]
[7, 8, 9, 10, 11]
<class 'list'>

In [51]:
# multiple assignments

In [52]:
a = b = c = 33

In [53]:
x, y, z = 100, 200, 300

In [54]:
print(x)

100

In [55]:
print(z)

300

In [56]:
x, y, z = 44, "hello", [6, 7, 8]

In [57]:
print(a, b, c)

33 33 33

In [58]:
print(a,b,c)

33 33 33

In [59]:
print(x, y, z)

44 hello [6, 7, 8]

In [60]:
print("value is",b)

value is 33

In [61]:
print("value is",b, sep='')

value is33

In [62]:
print("value is",b, sep='___')

value is___33

In [63]:
print("hi")
print("hello")
print("good day")

hi
hello
good day

In [64]:
print("hi", end = ', ')
print("hello", end = ', ')
print("good day")

hi, hello, good day