In [1]:
list_a = [4, 8, 12, 9, 3, 8, 12, 76, 34, 2]
list_b = [5.6, 8, 23, 8.9, 10, 11.34]

In [2]:
cities = ['madrid', 'mexico city', 'beijing', 'cairo', 'new delhi', 'tokyo']

In [3]:
print(len(list_a))

10

In [4]:
print(len(cities))

6

In [5]:
print(cities[2])

beijing

In [6]:
print(cities[9])

IndexError: list index out of range

In [7]:
print(cities[-1])

tokyo

In [8]:
print(cities[2:5])

['beijing', 'cairo', 'new delhi']

In [9]:
print(cities[:4])

['madrid', 'mexico city', 'beijing', 'cairo']

In [10]:
print(cities[2:])

['beijing', 'cairo', 'new delhi', 'tokyo']

In [11]:
print(cities)

['madrid', 'mexico city', 'beijing', 'cairo', 'new delhi', 'tokyo']

In [12]:
cities[2] = 'seol'

In [13]:
print(cities)

['madrid', 'mexico city', 'seol', 'cairo', 'new delhi', 'tokyo']

In [14]:
list_c = [34, 6.7, "hello", "hi", 22]

In [15]:
print(len(list_c))

5

In [16]:
list_c[2]

'hello'

In [17]:
print(list_c[2][2])

l

In [18]:
list_c[2] = "HELLO"

In [20]:
print(list_c)

[34, 6.7, 'HELLO', 'hi', 22]

In [21]:
list_c[2][2] = 'l'

TypeError: 'str' object does not support item assignment

In [22]:
list_d = [12, 4.6, "guten tag", "saludo", [5, 7, 8], cities]

In [23]:
len(list_d)

6

In [24]:
print(type(list_d))
print(type(list_d[3]))
print(type(list_d[4]))

<class 'list'>
<class 'str'>
<class 'list'>

In [25]:
list_d = [12, 4.6, "guten tag", "saludo", [5, 7, 8], cities]

In [26]:
print(list_d[4][1])

7

In [27]:
cities

['madrid', 'mexico city', 'seol', 'cairo', 'new delhi', 'tokyo']

In [28]:
list_d

[12,
 4.6,
 'guten tag',
 'saludo',
 [5, 7, 8],
 ['madrid', 'mexico city', 'seol', 'cairo', 'new delhi', 'tokyo']]

In [29]:
print(list_d[5][4][4])

d

In [30]:
cities

['madrid', 'mexico city', 'seol', 'cairo', 'new delhi', 'tokyo']

In [31]:
cities.append('lima')

In [32]:
print(cities)

['madrid', 'mexico city', 'seol', 'cairo', 'new delhi', 'tokyo', 'lima']

In [33]:
cities.insert(3, 'melbourne')

In [34]:
print(cities)

['madrid', 'mexico city', 'seol', 'melbourne', 'cairo', 'new delhi', 'tokyo', 'lima']

In [35]:
cities.pop(4)

'cairo'

In [36]:
print(cities)

['madrid', 'mexico city', 'seol', 'melbourne', 'new delhi', 'tokyo', 'lima']

In [37]:
cities.remove("seol")

In [38]:
print(cities)

['madrid', 'mexico city', 'melbourne', 'new delhi', 'tokyo', 'lima']

In [39]:
cities.clear()

In [40]:
len(cities)

0

In [41]:
print(cities)

[]

In [42]:
cities = ['madrid', 'mexico city', 'seol', 'melbourne', 'cairo', 'new delhi', 'tokyo', 'lima']

In [43]:
cities.count('seol')

1

In [44]:
list_a

[4, 8, 12, 9, 3, 8, 12, 76, 34, 2]

In [45]:
list_a.reverse()

In [46]:
print(list_a)

[2, 34, 76, 12, 8, 3, 9, 12, 8, 4]

In [47]:
list_a.sort()

In [48]:
print(list_a)

[2, 3, 4, 8, 8, 9, 12, 12, 34, 76]

In [49]:
list_b.sort(reverse=True)

In [50]:
print(list_b)

[23, 11.34, 10, 8.9, 8, 5.6]

In [51]:
list_c = [34, 6.7, "hello", "hi", 22]

list_c.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [52]:
cities.sort()

In [53]:
print(cities)

['cairo', 'lima', 'madrid', 'melbourne', 'mexico city', 'new delhi', 'seol', 'tokyo']

In [54]:
cities = ['cairo', 'lima', 'madrid', 'melbourne']
places = ['mexico city', 'new delhi', 'seol', 'tokyo']
regions = ['middle east', 'eastern europe', 'north africa']

In [55]:
regions.append(cities)
regions

['middle east',
 'eastern europe',
 'north africa',
 ['cairo', 'lima', 'madrid', 'melbourne']]

In [56]:
cities = ['cairo', 'lima', 'madrid', 'melbourne']
places = ['mexico city', 'new delhi', 'seol', 'tokyo']
regions = ['middle east', 'eastern europe', 'north africa']

regions.extend(cities)
regions

['middle east',
 'eastern europe',
 'north africa',
 'cairo',
 'lima',
 'madrid',
 'melbourne']

In [57]:
cities = ['cairo', 'lima', 'madrid', 'melbourne']
places = ['mexico city', 'new delhi', 'seol', 'tokyo']

regions = cities

In [58]:
print(regions)
print(cities)

['cairo', 'lima', 'madrid', 'melbourne']
['cairo', 'lima', 'madrid', 'melbourne']

In [59]:
cities.sort()

In [60]:
cities.append('hong kong')

In [61]:
print(regions)
print(cities)

['cairo', 'lima', 'madrid', 'melbourne', 'hong kong']
['cairo', 'lima', 'madrid', 'melbourne', 'hong kong']

In [62]:
list_e = [56, "hi", cities]

In [64]:
print(list_e)

[56, 'hi', ['cairo', 'lima', 'madrid', 'melbourne', 'hong kong']]

In [65]:
cities.reverse()
cities.remove("melbourne")

In [66]:
print(list_e)

[56, 'hi', ['hong kong', 'madrid', 'lima', 'cairo']]

In [70]:
cities = ['cairo', 'lima', 'madrid', 'melbourne']
places = ['mexico city', 'new delhi', 'seol', 'tokyo']

regions = cities.copy()

In [71]:
cities.reverse()

In [72]:
print(regions)
print(cities)

['cairo', 'lima', 'madrid', 'melbourne']
['melbourne', 'madrid', 'lima', 'cairo']