In [1]:
cities = ['madrid', 'mexico city', 'beijing', 'cairo', 'new delhi', 'tokyo'] 
list_a = [4, 8, 12, 9, 3, 8, 12, 76, 34, 2]
list_b = [5.6, 8, 23, 8.9, 10, 11.34]

In [2]:
print(type(cities))

<class 'list'>

In [3]:
cities = ('madrid', 'mexico city', 'beijing', 'cairo', 'new delhi', 'tokyo')
list_a = (4, 8, 12, 9, 3, 8, 12, 76, 34, 2)
list_b = (5.6, 8, 23, 8.9, 10, 11.34)

In [4]:
print(type(cities))

<class 'tuple'>

In [5]:
print(cities[3])
print(cities[1:4])
print(cities[-1])

cairo
('mexico city', 'beijing', 'cairo')
tokyo

In [6]:
cities[2] = 'shanghai'

TypeError: 'tuple' object does not support item assignment

In [7]:
cities.append('oslo')

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
fruits = {'apples', 'bananas', 'limes', 'apples', 'watermelons', 'bananas', 'plums'}

In [11]:
print(type(fruits))

<class 'set'>

In [12]:
print(fruits)

{'bananas', 'plums', 'watermelons', 'limes', 'apples'}

In [13]:
fruits[2]

TypeError: 'set' object is not subscriptable

In [14]:
basket = {'oranges', 'apples', 'limes', 'tomatoes', 'avocados'}

In [15]:
fruits = {'bananas', 'plums', 'watermelons', 'limes', 'apples'}

In [16]:
basket | fruits #union

{'apples',
 'avocados',
 'bananas',
 'limes',
 'oranges',
 'plums',
 'tomatoes',
 'watermelons'}

In [17]:
basket & fruits #intersection

{'apples', 'limes'}

In [18]:
basket ^ fruits #symmetric diff

{'avocados', 'bananas', 'oranges', 'plums', 'tomatoes', 'watermelons'}

In [19]:
basket - fruits # diff

{'avocados', 'oranges', 'tomatoes'}

In [20]:
cities = ('madrid', 'mexico city', 'beijing', 'cairo', 'new delhi', 'tokyo')

In [21]:
set(cities)

{'beijing', 'cairo', 'madrid', 'mexico city', 'new delhi', 'tokyo'}

In [22]:
list_a = [4, 8, 12, 9, 3, 8, 12, 76, 34, 2]

set(list_a)

{2, 3, 4, 8, 9, 12, 34, 76}

In [23]:
list(fruits)

['bananas', 'plums', 'watermelons', 'limes', 'apples']

In [24]:
len(fruits
   )

5

In [25]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [26]:
cities = ('madrid', 'mexico city', 'beijing', 'cairo', 'new delhi', 'tokyo')

In [28]:
sorted(cities)

['beijing', 'cairo', 'madrid', 'mexico city', 'new delhi', 'tokyo']

In [29]:
x = sorted(cities)

In [30]:
cities = ['madrid', 'mexico city', 'beijing', 'cairo', 'new delhi', 'tokyo'] 
list_a = [4, 8, 12, 9, 3, 8, 12, 76, 34, 2]
list_b = [5.6, 8, 23, 8.9, 10, 11.34]

In [31]:
min(list_a)

2

In [32]:
max(list_a)

76

In [33]:
sum(list_a)

168

In [34]:
min(cities)

'beijing'

In [35]:
sum(cities)

TypeError: unsupported operand type(s) for +: 'int' and 'str'