In [1]:
one = True
two = False

In [2]:
print(type(one))

<class 'bool'>

In [3]:
if one:
    print("hello")

hello

In [4]:
if two:
    print("hello")

In [5]:
varx = 30
vary = 40
varz = 0

In [6]:
if varx < vary:
    print("move left")
    print("keep gloing")
else:
    print("move right")
    print("stop at 100 metres")
print("and move again after 1 minute")

move left
keep gloing
and move again after 1 minute

In [7]:
if varx > vary:
    print("move left")
    print("keep gloing")
else:
    print("move right")
    print("stop at 100 metres")
print("and move again after 1 minute")

move right
stop at 100 metres
and move again after 1 minute

In [9]:
if varx > vary:
    print("move left")
    print("keep gloing")
else:
    print("move right")
   print("stop at 100 metres")
print("and move again after 1 minute")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [10]:
if (varx < vary) and (varx < varz):
    print("move left")
    print("keep gloing")
else:
    print("move right")
    print("stop at 100 metres")
print("and move again after 1 minute")

move right
stop at 100 metres
and move again after 1 minute

In [11]:
if (varx < vary) or (varx < varz):
    print("move left")
    print("keep gloing")
else:
    print("move right")
    print("stop at 100 metres")
print("and move again after 1 minute")

move left
keep gloing
and move again after 1 minute

In [12]:
age = 40
earning = 12000
gender = 'm'
fees = 1300


if age < 25 and earning > 1000:
    print("your fees = ", fees*0.9)
elif age >= 25 and age <40:
    if gender == 'm':
        print("your fees = ", fees*0.94)
    else:
        print("your fees = ", fees*0.9)
elif age >=40 and age <=60:
    print("your fees =", fees*0.95)
else:
    print("your fees =", fees*0.85)

your fees = 1235.0

In [16]:
age = int(input("enter age: "))
earning = int(input("enter income: "))
gender = input("enter gender: ")
fees = 1300


if age < 25 and earning > 1000:
    print("your fees = ", fees*0.9)
elif age >= 25 and age <40:
    if gender == 'm' and gender == 'male':
        print("your fees = ", fees*0.94)
    else:
        print("your fees = ", fees*0.9)
elif age >=40 and age <=60:
    print("your fees =", fees*0.95)
else:
    print("your fees =", fees*0.85)

enter age: 28
enter income: 1200
enter gender: male
your fees =  1170.0

In [17]:
varx = 11

while(varx < 15):
    print("value =", varx)
    varx = varx+1

value = 11
value = 12
value = 13
value = 14

In [18]:
varx = 11
vary = 20

while(varx < 15 and vary > 30):
    print("value =", varx)
    varx = varx+1

In [19]:
cities = ['cairo', 'lima', 'madrid', 'melbourne', 'mexico city', 'new delhi', 'seol', 'tokyo']

In [20]:
for i in range(5):
    print("i =", i)

i = 0
i = 1
i = 2
i = 3
i = 4

In [21]:
for x in range(5):
    print("x =", x)

x = 0
x = 1
x = 2
x = 3
x = 4

In [22]:
for x in range(2, 8):
    print("x =", x)

x = 2
x = 3
x = 4
x = 5
x = 6
x = 7

In [23]:
for x in range(2, 6):
    print(cities[x])

madrid
melbourne
mexico city
new delhi

In [24]:
for x in range(1, 4):
    print(cities[x])

lima
madrid
melbourne

In [25]:
for x in range(2, 22, 3):
    print("x =", x)

x = 2
x = 5
x = 8
x = 11
x = 14
x = 17
x = 20

In [26]:
for x in range(6, 2, -1):
    print("x =", x)

x = 6
x = 5
x = 4
x = 3

In [27]:
cities

['cairo',
 'lima',
 'madrid',
 'melbourne',
 'mexico city',
 'new delhi',
 'seol',
 'tokyo']

In [28]:
for x in cities:
    print("x =", x)

x = cairo
x = lima
x = madrid
x = melbourne
x = mexico city
x = new delhi
x = seol
x = tokyo

In [29]:
for x in cities[1:6]:
    print("x =", x)

x = lima
x = madrid
x = melbourne
x = mexico city
x = new delhi

In [30]:
for x in cities:
    if x == 'melbourne':
        print('found it')

found it

In [31]:
for x in cities:
    if x == 'melbourne':
        print('found it')
    else:
        print("not found")

not found
not found
not found
found it
not found
not found
not found
not found

In [32]:
for x in cities:
    if x == 'melbourne':
        print('found it')
        break
    else:
        print("not found")

not found
not found
not found
found it

In [33]:
cities

['cairo',
 'lima',
 'madrid',
 'melbourne',
 'mexico city',
 'new delhi',
 'seol',
 'tokyo']

In [34]:
print(x)

melbourne

In [35]:
for x in cities:
    if x == 'melbourne':
        print('found it')
        break
else:
    print("not found")

found it

In [36]:
for x in cities:
    if x == 'hamilton':
        print('found it')
        break
else:
    print("not found")

not found

In [37]:
"hamilton" in cities

False

In [38]:
"hamilton" not in cities

True

In [39]:
cities = ['cairo', 'lima', 'madrid', 'melbourne', 'mexico city', 'new delhi', 'seol', 'tokyo']

places = ['singapore', 'johanesberg', 'madrid', 'munich', 'manila', 'seol']

In [40]:
for x in cities:
    if x in places:
        print(x)

madrid
seol

In [41]:
common = []

for x in cities:
    if x in places:
        common.append(x)

In [42]:
print(common)

['madrid', 'seol']

In [43]:
capitals = {'argentina':'buenos aires', 'chile':'santiago', 'peru':'lima', 'colombia':'bogota'}

In [44]:
for x in capitals:
    print(x)

argentina
chile
peru
colombia

In [45]:
for x in capitals.values():
    print(x)

buenos aires
santiago
lima
bogota

In [46]:
for k, v in capitals.items():
    print(k, "\t", v)

argentina 	 buenos aires
chile 	 santiago
peru 	 lima
colombia 	 bogota